body {
   font-family: sans-serif;
}

img  {
   max-width: 100%;
}

.container {
   width: 73.125rem;
   margin: auto;
}

@media (max-width: 1200px) {
   .container {
      width: 47.5rem;
   }
}

@media (max-width: 768px) {
   .container {
      max-width: 36.25rem;
      width: 90%;
   }
}

.button {
   border-radius: 10px;
   background-color: $main-color;
   border: none;
   padding: 18px 30px;
}